.portfolio_container{   
    gap: 16px;
    display: grid;
    grid-template-columns: auto auto auto auto;    
    line-height: 60px;
}

.item-p {
    border-radius: 10rem;
    padding: 1.1rem;
    text-align: center;
    opacity: 0.87;
}


.imagen{
    border-radius: 15px ;
}