.portfolio_container{   
    gap: 16px;
    display: grid;
    grid-template-columns: auto auto auto auto;    
    line-height: 40px;
}

.item-p {
    border-radius: 10rem;
    padding: 1.1rem;
    text-align: center;
 
}

.item-d{
    font-size: 13px;
}
.item-g{
    font-size: 16px;
}
.imagen{
    border-radius: 15px ;
    height: 293px;
    
}

