.container-about {
    padding: 0 0 50px 0;
    position: relative;
}


.item {
    background: #4AC29A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: 3px  transparent ;
    border-radius: 2rem;
    padding: 3rem;
    text-align: center;
    transition: var(--transition);
    opacity: 0.87;
}

.item:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about_icon{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.item h3 {
    font-size: 1.3rem;
    color: var(--color-light);
}



/* media queries - medium devices */

@media screen and (max-width: 1024px) {
    .about_content{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about_content p{
        margin: 1rem 0 1.5rem;
   
   }
}
    
  /* media queries - small devices */
  
@media screen and (max-width: 600px) {
    .about_content{
        text-align: center;
    }
     .about_cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;   
    }   
    .about_content p{
        margin: 1.5rem 0; 
   } 
  }